-e git://github.com/koenbok/Cactus.git@9b04d215a823d5cc989b6e1a5ffd141dea825385#egg=Cactus-origin/v3
Django==1.5.5
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
boto==2.29.1
colorlog==2.3.1
keyring==3.8
markdown2==2.2.1
tornado==3.2.2
wsgiref==0.1.2
